.PresetBox {
  /*flex: 1 0 auto;*/
  border: 1px solid red;
  max-width: calc((100vw - var(--app-menu-width) - 7*10px)/6);
}

.PresetTitle {
  overflow-y: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: medium;
  font-weight: bold;
}

.PresetImage {
  aspect-ratio: calc(16/9);
  width: 100%;
  min-width: 0px;
}